<header class="Media-header">
  <h1>Recherche de media</h1>

  <form class="Search-form">
    <mat-form-field>
      <input matInput type="text" id="searchMedia" name="searchValue"
        [(ngModel)]="searchValue"
        placeholder="Recherche de media par titre"
        (input)="getSearch(searchValue)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <input class="u-button" type="submit" value="Lancer ma recherche" (click)="searchMedia(searchValue)"
      [disabled]="searchValue ? false : true">
  </form>
</header>

<div *ngIf="searchEmpty.length > 0" class="No-result">
  <p>Il n'y a pas de résultat pour votre recherche de titre : '{{ searchEmpty }}'.</p>
  <input class="u-button danger" type="submit" value="Annuler la recherche"
    (click)="cancelSearch()">
</div>

<div class="Medias-list" *ngIf="searchEmpty.length === 0">
  <div class="Title">
    <p>Titre original</p>
    <p>Année</p>
    <p>Genre</p>
  </div>
  <ng-container *ngFor="let media of mediasSearch">
    <div class="Media" (click)="openMediaDialog(media)">
      <p>{{ media.originalTitle }}</p>
      <p>{{ media.startYear }}</p>
      <p>{{ media.genres }}</p>
    </div>
  </ng-container>
</div>
