.Media-header {
  padding: 1em;
  text-align: center;
}

.Search-form {
  display: flex;
  flex-direction: column;
}

.Search-form > * {
  margin: .2em 0;
}

.Medias-list {
  padding: 1em 0;
}

.Title {
  font-weight: 600;
  background: #f5f3f3;
}

.Media:hover {
  background: #f3e6e6;
  cursor: pointer;
}

.Title,
.Media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e2e2e2;
  margin: -1px 0;
}

.Title > p:first-child,
.Media > p:first-child {
  flex: 2;
}

.Title > p,
.Media > p {
  flex: 1;
  width: 23%;
  word-break: break-word;
  border-right: 1px solid #e2e2e2;
  padding: .5em;
  margin: 0;
}

.Title > p:last-child,
.Media > p:last-child {
  border-right: none;
}
