@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~igniteui-angular/styles/igniteui-angular.css"; */

/* Override global style */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 600;
}

/* Custom utilities */

.u-button {
  background: #3f51b5;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: .5em;
  text-transform: uppercase;
}

.u-button:disabled {
  opacity: 40%;
}

.u-button.danger {
  background: #f44336;
}
