<i class="material-icons Close-icon" [mat-dialog-close]>close</i>

<h1>Modifier le media "{{ media.originalTitle }}"</h1>

<form class="Edit-form">
  <mat-form-field>
    <input matInput type="text" id="title" name="title" [(ngModel)]="titleValue"
      placeholder="Titre">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" id="year" name="year" [(ngModel)]="yearValue"
      placeholder="Année" minlength="1000">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" id="genre" name="genre" [(ngModel)]="genreValue"
      placeholder="Genre">
  </mat-form-field>

  <input class="u-button" type="submit" value="Modifier le media"
    (click)="editMedia()"
    [disabled]="checkValue() ? false : true">
</form>
